.Phonetic {
  margin-bottom: 20px;
}
.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  color: red;
  transition: all 150ms ease-in-out;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.Phonetic a:hover {
  background: red;
  color: white;
}
